.swiper {
    width: 100%;
    height: 300px;
    z-index: 0 !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
.cart-item {
    border: 0.1rem #c0c0c0 solid;
    background-color: white;
    border-radius: 0.5rem;
    margin: 1rem;
    max-width: 20rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.medium {
    width: 100%;
    display: flex;
    margin: auto;
}
.cart-item a {
    text-decoration: none;
    color: #888999;
}
.col-1 {
    flex-basis: 30rem;
}
.col-2 {
    flex-basis: 30rem;
    padding: 1rem;
}
.row-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.large-image {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(184, 194, 194);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.date_box a {
    color: rgba(0, 0, 0, 0.55);
    text-decoration: none;
}
